*,
*::before,
*::after {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url(assets/fonts/bai-jamjuree-v13-latin-regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url(assets/fonts/bai-jamjuree-v13-latin-600.woff2);
  font-weight: 600;
}

:root {
  --Green-500: hsl(171, 66%, 44%);
  --Blue-100: hsl(233, 100%, 69%);

  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 11%, 66%);

  --font-weight-400: 400;
  --font-weight-600: 600;
}

p, button {
  font-family: 'Bai Jamjuree';
  font-size: 1.125rem;
  font-weight: var(--font-weight-400);
  color: var(--Gray-500);
}

p {
  line-height: 1.5;
  font-size: clamp(1.01rem, 1vw, 1.5rem);
  
}

h1, h2, h3 {
  font-family: 'Bai Jamjuree';
  font-weight: var(--font-weight-600);
  color: var(--Gray-700);
}

h1 {
  font-size: clamp(2rem, 2.48vw, 3rem);
}

h2 {
  font-size: clamp(1.7rem, 2.18vw, 2.8rem);
}

h3 {
  font-size: clamp(1.2rem, 1.0vw, 2.6rem);
}

body {
  height: 100%;
  background-image: url(assets/bg-header-mobile.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

/* Header Start */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.headline__description {
  max-width: 34.375rem;
  margin-block: 1rem;
}

.big-c {
  max-width: 7.8125rem;
  margin-block: 4rem;
}

.buttons__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  width: 100%;
}

.dl__button {
  color: white;
  width: calc(21.8125rem - 12vw);
  max-width: 19.4375rem;
  min-width: 10.4375rem;
  min-height: 2.36125rem;
  margin-block-start: 1.7rem;
  padding-block: min(1rem, calc(2rem - 1.5vw));
  border: none;
  border-radius: 2rem;
  font-weight: var(--font-weight-600);
  font-size: calc(1.125rem - 0.3vw);
}

.dl__ios {
  background-color: var(--Green-500);
  box-shadow: 0em 0.1em 0.1em 0.1em #20A492;
}

.dl__mac {
  background-color: var(--Blue-100);
  box-shadow: 0em 0.1em 0.1em 0.1em #5362DA;
}
/* Header End */






/* Main  Start*/
.main__content {
  margin: 8rem 2rem 2rem 2rem;
}

.feature-1__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature-1__description {
  max-width: 40.375rem;
  padding-block: 1rem 1rem;
}






.sub-feature__container {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: max(2rem, 12vw);
  justify-content: center;
  position: relative;
}

.monitor {
  margin-block-end: 4rem;
  width: 52vw;
  min-width: 19.4375rem;
}

.sub-feature__description {
  max-width: 22rem;
  margin-block-end: 3rem;
  margin-block-start: 0.8rem;
}






.feature-2__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-2 {
  margin-block: max(15vw, 5rem) 1rem;
}

.feature-2__description {
  max-width: 40rem;
}

.devices {
  margin-block: max(3.5rem, 7vw);
  width: 100%;
  max-width: 50rem;
}






.feature-3__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-3 {
  margin-block-end: 1rem;
}

.sub-feature-2__container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-block: 3rem 5rem;
  justify-content: space-evenly;
}

.clustered__sub-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 19rem;
}

.sub-features-2 {
  margin-block-end: 1rem;
  /* font-size: calc(2rem - 0.9vw); */
}

.sub-features-2__description {
  max-width: 22rem;
  line-height: 1.8;
  /* font-size: min(calc(1.5rem - 0.7vw), 1rem); */
  width: 130%;
}

.icons {
  width: 3rem;
  margin: 2rem;
}

.icon-3 {
  margin: 2.35rem;
}






.platforms__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-block: max(3rem, 4vw);
}

.platforms {
  max-width: 9.375rem;
}







.final__promotion__container {
  margin-block: 4rem;
}

.final__promotion {
  margin-block: 1rem;
}

.final__promotion__description {
  max-width: 40rem;
  padding-inline: 0.1rem;
  margin-block-end: 1.3rem;
  justify-self: center;
}







.footer {
  background-color: #F5F6F8;
  padding-block-start: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-c {
  width: 4rem;
  margin-block: 3rem;
}

.socmed__platform {
  min-width: 2rem;
  margin-block: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-block: 2rem 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  width: 40%;
  justify-content: center;
}

.navs {
  font-size: 1.3rem;
  color: var(--Gray-700);
}

.sub-nav__container {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  align-items: center;
}
/* Main End */




/* Media queries */
@media (min-width: 79.125rem) {
  body {
    background-image: url(assets/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
  }

  .main__content {
    margin-inline: 0rem;
  }

  .sub-feature__container {
    justify-content: flex-end;
    align-items: center;
  }
  
  .monitor {
    position: absolute;
    left: -2%;
    bottom: -27%;
  }

  .sub__container {
    margin-inline-end: 18%;
  }

  .sub-features, .sub-feature__description {
    text-align: start;
  }

  .sub-feature__description {
    line-height: 1.7;
  }

}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navbar {
    flex-direction: row;
    gap: 4rem;
  }

  .navs {
    font-size: 1.5vw;

  }

  .sub-nav__container {
    width: 10vw;
    align-items: start;
  }
  
  .socmed__platform {
    width: 1vw;
  }
  
}